/* navbar */
.navbar-brand {
   font-family:Roboto;
   font-size:32px;


}


.row .col .display-4 {
	
	font-size: 40px;
}

.display-4 .font-weight-bold{
	font-size: 30px;
	
}



/*.logo-client:hover {
	height: 200px;
}
*/























@media (min-width: 992px) { 

.nav-link {
	text-transform: uppercase;
}

.nav-link:hover {
	border-bottom: 3px solid #0986D8;
	margin-bottom: -3px;
}

.sosmed {
	position: absolute;
	margin-top: 90px;
}


.display-4 {
	margin-top: 100px;
	font-size: 40px;
}

.text-center {
	text-align: center;
}

.row .logo {
	size: 30px;
}

.abu-abu {
	height: 320px;
	background-color: #eee;
	width: 100%;
	position: relative;

}
.text-hero {
	margin-top: 120px;
}

.hero-pindah {
	position: absolute;
	margin-top: -250px;
	margin-left: 290px;
	height: 350px;
	width: 100%;
}








}